<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_ruiz"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_ruiz"
        android:supportsRtl="true"
        android:theme="@style/Theme.FerreteriaPHP">

        <!-- Splash Screen -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.FerreteriaPHP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Login Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Principal Activity (Home) -->
        <activity
            android:name=".Principal"
            android:exported="false" />

        <!-- Article Activities -->
        <activity
            android:name=".ListadoArticulos"
            android:exported="false"
            android:parentActivityName=".Principal" />

        <activity
            android:name=".ArticuloSeleccionado"
            android:exported="false"
            android:parentActivityName=".ListadoArticulos" />

        <activity
            android:name=".NuevoArticulo"
            android:exported="false"
            android:parentActivityName=".Principal" />

        <activity
            android:name=".Ofertas"
            android:exported="false"
            android:parentActivityName=".Principal" />

        <!-- User Activities -->
        <activity
            android:name=".ListadoUsuarios"
            android:exported="false"
            android:parentActivityName=".Principal" />

        <activity
            android:name=".UsuarioSeleccionado"
            android:exported="false"
            android:parentActivityName=".ListadoUsuarios" />

        <activity
            android:name=".NuevoUsuario"
            android:exported="false"
            android:parentActivityName=".Principal" />

        <activity
            android:name=".Cuenta"
            android:exported="false"
            android:parentActivityName=".Principal" />

    </application>

</manifest>